/* General */
body {
    background-color: #185f7d;
}

/* Header/Title */
.logo {
    margin: 30px;
}

/* Articles */
label {
    margin: 10px 0px;
    text-align: center;
}

.collapse>label {
    height: auto;
}

.collapse>:checked+label+div {
    max-height: 1000px;
}

.collapse p {
    padding-bottom : 10px;
    text-align: center;
}

.articleImg {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    display: block;
    margin: 15px auto;
    width: 50%;
}

input:not([type]), [type="text"], [type="email"], [type="number"], [type="search"], [type="password"], [type="url"], [type="tel"], [type="checkbox"], [type="radio"], textarea, select {
    margin: 0 auto;
}

input {
    display: block;
    width: 50%;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 50%;
}

button {
    display: block;
    margin: 20px auto;
}

h3 {
    text-align: center;
}

.comments {
    margin: 0 auto;
    width: 50%;
}